
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f8ff;
  padding: 20px;
}


h1, h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  max-width: 500px;
  margin: 0 auto 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}





#btnLogout {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #e84118;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

#btnLogout:hover {
  background-color: #c23616;
}


