body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

#sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100vh;
}

#sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

#sidebar button:hover {
  background-color: #777;
}

#main-content {
  flex: 1;
  padding: 20px;
}


#btnLogout {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #e84118;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

#btnLogout:hover {
  background-color: #c23616;
}

